@charset "UTF-8";
html {
  font-size: 16px;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #000;
  background-color: #fff;
  min-width: 320px;
}

img {
  max-width: 100%;
  height: auto;
}

section {
  padding: 50px 0;
}

a {
  color: #111;
}
a:hover {
  color: #555;
}

/* Header */
.navbar-light .navbar-nav .nav-link {
  color: #111;
  font-weight: 500;
  text-transform: uppercase;
}

.navbar-nav .dropdown-menu {
  right: 0;
  left: auto;
}

.nav-link:hover {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.top-menu li a::after {
  content: "";
  display: block;
  width: 100%;
  background-color: #111;
  height: 1px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}
.top-menu li a:hover::after {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}
.top-menu li a:active {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

/* Cart */
.cart-item {
  margin-bottom: 10px;
}

.cart-total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15%;
}
.cart-total .cart-delivery {
  color: rgba(102, 102, 102, 0.831372549);
}
.cart-total .delivery-cost {
  margin-right: 1.875rem;
  color: #ef8605;
}
.cart-total .total-price {
  color: #ef8605;
  font-weight: 900;
  font-size: 30px;
}

#cart-notification {
  position: fixed;
  top: 20%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #a4a4a4;
  color: #fff;
  font-size: 26px;
  padding: 10px;
  border: 1px solid #ef8605;
  border-radius: 20px;
  /* Встановлюємо базовий стиль повідомлення */
  display: none;
  opacity: 0;
  /* Додавамо з-за наявних елементів на сторінці */
  z-index: 1;
  /* Встановлюємо властивості анімації */
  -webkit-animation: fadeInOut 1s ease-in-out;
          animation: fadeInOut 1s ease-in-out;
}

/* Визначаємо анімацію з'явлення і зникнення */
@-webkit-keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* Встановлюємо тривалість анімації і тип функції розповсюдження */
#cart-notification {
  -webkit-animation: fadeInOut 3s ease-in-out;
          animation: fadeInOut 3s ease-in-out;
}

.alert {
  font-size: 24px;
  color: #ef8605;
  text-align: center;
}

.cart-item__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart-item__title {
  width: 12.5rem;
  font-size: 22px;
  font-weight: 900;
  margin-left: 20px;
}

.span-empty {
  margin: 0 5%;
}

.cart-items-price {
  font-size: 28px;
  width: 6.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.table-cart-item {
  font-weight: 900;
  font-size: 22px;
  margin-right: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.modal-body .cart-item__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 50px;
}
.modal-body img {
  max-width: 6.25rem;
}

.btn-remove-from-cart {
  margin-right: 50px;
}

.cart-item-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 12.5rem;
}

/* //Cart */
/* /Header */
/* Carousel */
.my-carousel {
  padding: 0;
}
.my-carousel .carousel-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 600px;
}
.my-carousel img {
  -o-object-fit: cover;
     object-fit: cover;
}

/* /Carousel */
/* product card */
.product-item {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.product-item:hover {
  -webkit-box-shadow: 0 4px 30px 5px rgba(0, 0, 0, 0.75);
          box-shadow: 0 4px 30px 5px rgba(0, 0, 0, 0.75);
}

.product-thumb a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 12.5rem;
  padding: 20px;
}
.product-thumb img {
  max-width: 100%;
  max-height: 100%;
}

.product-details {
  padding: 20px;
}
.product-details .ll-prices a {
  display: block;
  font-weight: 500;
  height: 60px;
  overflow: hidden;
  text-decoration: none;
}
.product-details p {
  font-size: 15px;
  margin-bottom: 20px;
  color: #999;
  height: 44px;
  overflow: hidden;
}
.product-details .price__weight {
  margin-left: 10px;
  color: rgba(102, 102, 102, 0.7882352941);
}

.product-bottom-details {
  overflow: hidden;
  border-top: 1px solid #eee;
  padding-top: 20px;
}

.all-prices {
  font-size: 18px;
  color: #ef8605;
  font-weight: 600;
}
.all-prices small {
  color: #ccc;
  font-weight: 400;
  text-decoration: line-through;
}

.product-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.product-links a {
  font-size: 20px;
  margin: 0 5px;
  -webkit-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
}
.product-links a:hover {
  color: #ef8605;
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}
.product-links a:active {
  color: #19c41c;
}

.counter-wrapper {
  background-color: rgba(228, 224, 224, 0.6941176471);
  border-radius: 10px;
  width: 6.25rem;
  height: 30px;
  margin-right: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.items__control {
  border-radius: 10px;
  display: block;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
}
.items__control:hover {
  background-color: #ef8605;
}

/* //product card */
/* Footer */
.footer {
  background-color: #343434;
}
.footer h4 {
  color: #ccc;
  text-transform: uppercase;
  font-size: 16px;
  border-bottom: 1px solid #666;
  padding-bottom: 3px;
}
.footer a, .footer li {
  display: block;
  color: #c8c8c8;
}
.footer a {
  text-decoration: none;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.footer a:hover {
  color: #fff;
  text-decoration: underline;
}

.footer-icons a {
  display: inline-block;
  margin-right: 15px;
  font-size: 36px;
}

/* /Footer */